<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.DebugDecodeExperimentActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="com.mardous.booming.debug.RUN_DECODE_EXPERIMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".debug.DebugFlacPromotionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="com.mardous.booming.debug.RUN_FLAC_PROMOTION_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".debug.DebugFlacPlaybackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="com.mardous.booming.debug.RUN_FLAC_PLAYBACK_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".debug.SourceSeparationDebugReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mardous.booming.debug.SOURCE_SEPARATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
